NEXT_PUBLIC_SUPABASE_URL=https://tzixaixkexxgdiyecire.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR6aXhhaXhrZXh4Z2RpeWVjaXJlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwMzAwMzMsImV4cCI6MjA5MDYwNjAzM30.SRgHbfEChB225i7mgpa1q9CQ7w2-BaK74evmsBbYq_M
